body{
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    padding: 20px 9%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

a:hover {
    text-decoration: none;
}

.ul-nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0;
}

.header-nav-link {
    color: #000 !important;
    display: flex;
    font-size: 15px;
    font-weight: bold;
}

.navbar-collapse {
    justify-content: flex-end;
}

#nav-logo {
    width: 50px;
    height: 50px;
}

nav li {
    display: inline;
}

.link-hover-effect-1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 0;
}

.link-hover-effect-1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #000;
    transform: translateX(-105%);
    transition: transform 0.5s ease-in-out;
}

.link-hover-effect-1:hover::before {
    transform: translateX(0);
}

.dropdown-menu.show {
    padding-left: 10px;
    background: #381238;
    width: 200px;
}

.dropdown-menu a {
    color: white;
}

header{
    padding: 100px 10%;
    background: linear-gradient(rgba(7, 47, 1, 0.97), rgba(7, 47, 1, 0.1)),
            url(../images/header-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
.lbtc-text{
    font-size: 70px;
    font-family: candara;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
.header-text p{
    width: 55%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerbtn {
    display: inline-block;
    padding: 10px 40px;
    color: #072F01 !important;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 25px;
    margin: auto;
    margin-top: 10px;
}

.headerbtn:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #A8FF9B;
    z-index: -2;
}

.headerbtn:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #807942;
    transition: all 0.3s;
    z-index: -1;
    color: white;
}

.headerbtn:hover {
    color: #fff !important;
    text-decoration: none;
}

.headerbtn:hover:before {
    width: 100%;
}

.learn, .obj{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 10%;
    text-align: center;
}
h1{
    font-size: 40px;
    font-weight: bold;
}
.learn p, .obj p{
    width: 80%;
}
.heading-hr{
    width: 15%;
    border-top: 2px solid black;
    margin-bottom: 30px;
}
.obj{
    background: #F5F5F5;
}
.objcard-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.objcard{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 280px;
    margin: 30px 10px;
    height: 420px;
    border-radius: 15px;
}
.card-img-div1{
    background: linear-gradient(rgba(7, 47, 1, 0.7), rgba(7, 47, 1, 0.7)),
            url(../images/cardp2.jpg);
}
.card-img-div2{
    background: linear-gradient(rgba(7, 47, 1, 0.7), rgba(7, 47, 1, 0.7)),
            url(../images/cardp1.jpg);
}
.card-img-div3{
    background: linear-gradient(rgba(7, 47, 1, 0.7), rgba(7, 47, 1, 0.7)),
            url(../images/cardp3.jpg);
}
.card-img-div4{
    background: linear-gradient(rgba(7, 47, 1, 0.7), rgba(7, 47, 1, 0.7)),
            url(../images/cardp4.jpg);
}
.card-img-div{
    border-radius: 15px 15px 0 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 280px;
}
.cardtext{
    padding: 25px;
}
.ordp, .comm-div{
    padding: 70px 9%;
}
.ordp-img, .sprt-img{
    height: 400px;
    width: 600px;
}
.ordp-hr {
    width: 25%;
    border-top: 2px solid black;
    margin-bottom: 30px;
    margin-left: 180px;
}
.courses{
    padding: 100px 9%;
    text-align: center;
    background: linear-gradient(rgba(7, 47, 1, 0.97), rgba(7, 47, 1, 0.97)),
            url(../images/course-bg.svg);
    color: white;
}
.course-card-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.course-card{
    display: flex;
    flex-direction: column;width: 300px;
    margin-right: 40px;
}
.courses-num{
    font-size: 80px;
    font-weight: bold;
    font-family: 'Shippori Mincho', serif;
}
.course-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.courses hr{
    border-top: 2px solid #BB563C;
}
.comm-div hr{
    width: 25%;
    border-top: 2px solid black;
    margin-bottom: 30px;
}
.comm-div p{
    text-align: right;
    line-height: 30px;
}
.comm-div .img-div{
    display: flex;
}
.comm-text-div{
    text-align: center;
}
.speak-btn {
    display: inline-block;
    padding: 10px 40px;
    color: #fff !important;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 25px;
    margin: auto;
    margin-top: 10px;
}

.speak-btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #072F01;
    z-index: -2;
}

.speak-btn:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #000;
    transition: all 0.3s;
    z-index: -1;
}

.speak-btn:hover {
    color: #fff;
    text-decoration: none;
}

.speak-btn:hover:before {
    width: 100%;
}

footer{
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 9%;
    font-weight: bold;
}