body{
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    padding: 20px 9%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

a:hover {
    text-decoration: none;
}

.ul-nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0;
}

.header-nav-link {
    color: #000 !important;
    display: flex;
    font-size: 15px;
    font-weight: bold;
}

.navbar-collapse {
    justify-content: flex-end;
}

#nav-logo {
    width: 50px;
    height: 50px;
}

nav li {
    display: inline;
}

.link-hover-effect-1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 0;
}

.link-hover-effect-1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #000;
    transform: translateX(-105%);
    transition: transform 0.5s ease-in-out;
}

.link-hover-effect-1:hover::before {
    transform: translateX(0);
}

.dropdown-menu.show {
    padding-left: 10px;
    background: #381238;
    width: 200px;
}

.dropdown-menu a {
    color: white;
}

header{
    padding: 70px 10%;
    background: rgb(7 47 1);
    color: white;
}
.lbtc-text{
    font-size: 70px;
    font-family: candara;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
.header-text p{
    width: 55%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.headerbtn{
    border-radius: 20px;
    font-weight: bold;
    padding: 10px 20px;
}

.learn, .obj{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 10%;
    text-align: center;
}
.learn h1, .obj h1{
    font-size: 40px;
}
.learn p, .obj p{
    width: 80%;
}
.heading-hr{
    width: 15%;
    border-top: 2px solid black;
    margin-bottom: 30px;
}
.obj{
    background: #F5F5F5;
}
.objcard-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.objcard{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 280px;
    margin: 30px 10px;
    height: 420px;
    border-radius: 15px;
}
.card-img{
    height: 200px;
    width: 280px;
    border-radius: 15px 15px 0 0;
}
.cardtext{
padding: 25px;
}
.ordp{
    padding: 70px 9%;
}
.ordp-img{
    height: 400px;
    width: 520px;
}
.ordp-hr {
    width: 35%;
    border-top: 2px solid black;
    margin-bottom: 30px;
    margin-left: 0;
}
