.navhead{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
        url(../images/hnav-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar {
    padding: 30px 9%;
}

a:hover {
    text-decoration: none;
}

.ul-nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0;
}

.header-nav-link {
    color: #fff !important;
    display: flex;
    font-size: 25px;
}

.navbar-collapse {
    justify-content: flex-end;
}

#nav-logo {
    width: 250px;
    height: 90px;
}

nav li {
    display: inline;
}

.link-hover-effect-1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 0;
}

.link-hover-effect-1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform: translateX(-105%);
    transition: transform 0.5s ease-in-out;
}

.link-hover-effect-1:hover::before {
    transform: translateX(0);
}

.dropdown-menu.show {
    padding-left: 10px;
    background: #381238;
    width: 200px;
}

.dropdown-menu a {
    color: white;
}

#nav-logo-mob{
    display: none;
}

header{
    padding: 50px 10% 200px 10%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cbc-text{
    font-size: 120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    line-height: 120px;
}
header p{
    font-family: Montserrat;
    font-size: 18px;
    font-style: italic;
    margin-top: 50px;
}

.section-a{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 55%;
    position: absolute;
    left: 0;
        right: 0;
        top: 600px;
        bottom: 0;
        margin: auto;
}
.form-head{
    background: #072F01;
    text-align: center;
    color: white;
    padding: 25px;
    font-family: Poppins;
}
.form-head p{
    font-size: 20px;
}
.form-body{
    padding: 50px 150px;
    font-family: Montserrat;
    background: #fdfdfd;
}
.form-body .col-md-6{
    margin-bottom: 20px;
}
label{
    font-weight: 600;
}
.sub-label {
    font-style: italic;
    font-weight: 400 !important;
}
input, select{
    width: 100%;
    height: 42px;
    padding: 5px;
    border: 1px solid #D7D7D7;
    border-radius: 2px;
}
#textarea{
    width: 90%;
    border: 1px solid #D7D7D7;
    border-radius: 2px;
    margin-bottom: 30px;
}
.next-btn{
    display: inline;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 15px;
    background: #072F01;
    border-radius: 3px;
    padding: 8px 15px;  
    color: #fff;
    border: 0;
}
.next-btn:hover{
    color: white;
}

@media(max-width: 1300px){
    .section-a {
            width: 70%;
        }
}

@media(max-width: 1050px) {
    .section {
        top: 700px;
        width: 70%;
    }
}

@media(max-width: 700px) {
    .navhead {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
            url(../images/cbc-bg-mob.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .navbar{
        padding: 10px 6%;
    }
    #nav-logo{
        display: none;
    }
    #nav-logo-mob {
        display: block;
        width: 40px;
        height: 40px;
    }
    .nav-link{
        font-size: 15px;
    }
    .cbc-text{
        font-size: 60px;
        line-height: 90px;
        letter-spacing: 3px;
        text-align: left;
        font-weight: 800;
    }
    header{
        padding: 40px 50px 90px 50px;
    }
    header p{
        margin-top: 20px;
        font-size: 13px;
    }
    .section-a{
        position: static;
        width: 100%;
    }
    .form-body{
        padding: 50px;
    }
}